build/**/*
bin/**/*
include/**/*
external/**/*
share/**/*
lib/**/*
issues/**/*
configurator/.vs/
configurator/bin/
configurator/MegaMolConf/obj/
configurator/packages/

configurator/MegaMolConf/Properties/AssemblyInfo\.cs

configurator/MegaMolConf/Resources/mmconfig\.res
