build/**/*
build-*/**/*
build_*/**/*
cmake-build-*/**/*
bin/**/*
include/**/*
external/**/*
share/**/*
stage/**/*
lib/**/*
issues/**/*
mmprjs/**/*
.vscode/ipch/**/*
configurator/.vs/
configurator/bin/
configurator/MegaMolConf/obj/
configurator/packages/
configurator/MegaMolConf/Properties/AssemblyInfo\.cs
configurator/MegaMolConf/Resources/mmconfig\.res
.vscode/**/*.bat
.idea/**/*
.gitmodules
*.orig
utils/MMPLD/mmpld.bat
utils/MMPLD/mmpld.reg
utils/MMPLD/test*.mmpld
utils/MMPLD/test*.lua
utils/MMPLD/test*.png
utils/MMPLD/SphereTest.bat
examples/