# IDE/CMake settings
.vs/
.vscode/
.idea/
CMakeSettings.json
CMakeUserPresets.json

# Common build dir names
build/
build-*/
build_*/
cmake-build-*/

# Bundled vcpkg
/vcpkg/
/vcpkg_assets/

# In-source-build artifacts
/CMakeFiles/
/CMakeCache.txt
/_deps/

# Install artifacts
/bin/
/examples/
/lib/
/share/
install/

# Utils
utils/MMPLD/mmpld.bat
utils/MMPLD/mmpld.reg
utils/MMPLD/test*.mmpld
utils/MMPLD/test*.lua
utils/MMPLD/test*.png
utils/MMPLD/SphereTest.bat

# Intermediate python files
__pycache__/

# Individual developer settings for local machines
mmprjs/**/*
*.orig
