language: generic

git:
  depth: 1

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - CC=gcc-7
        - CXX=g++-7

before_install:
  - wget https://cmake.org/files/v3.12/cmake-3.12.4-Linux-x86_64.sh
  - sh cmake-3.12.4-Linux-x86_64.sh --prefix=. --exclude-subdir
  - sudo apt-get -qq update
  - sudo apt-get install -y uuid-dev
  - sudo apt-get install -y libunwind8-dev
  - sudo apt-get install -y libxrandr-dev
  - sudo apt-get install -y libxinerama-dev
  - sudo apt-get install -y libxcursor-dev
  - sudo apt-get install -y libxi-dev
  - sudo apt-get install -y libcgal-dev
  - mkdir build && cd build
  - ../bin/cmake .. -DBUILD_FLOWVIS_PLUGIN=ON

install:
  - make install
