language: generic

git:
  depth: 1

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - CC=gcc-5
        - CXX=g++-5
    
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
      env:
        - CC=gcc-6
        - CXX=g++-6

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - CC=gcc-7
        - CXX=g++-7

    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-5.0
            - ubuntu-toolchain-r-test
          packages:
            - clang-5.0
      env:
        - CC=clang-5.0
        - CXX=clang++-5.0

    - os: linux
      addons:
        apt:
          sources:
            - llvm-toolchain-trusty-6.0
            - ubuntu-toolchain-r-test
          packages:
            - clang-6.0
      env:
        - CC=clang-6.0
        - CXX=clang++-6.0

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y uuid-dev
  - sudo apt-get install -y libunwind8-dev
  - sudo apt-get install -y libxrandr-dev
  - sudo apt-get install -y libxinerama-dev
  - sudo apt-get install -y libxcursor-dev
  - sudo apt-get install -y libxi-dev
  - sudo ./cmake/install-cmake.sh
  - mkdir build
  - cd build
  - cmake ..

install:
  - make install
