
trigger:
- master

pr:
- master

variables:
  defaultConfig: >-
    -DMEGAMOL_VCPKG_DOWNLOAD_CACHE=ON
    -DMEGAMOL_WARNING_LEVEL="Off"
    -DMEGAMOL_PLUGIN_MEGAMOL101_GL=ON
    -DMEGAMOL_USE_CGAL=ON
    -DMEGAMOL_USE_PROFILING=ON
    -DMEGAMOL_USE_VTKM=ON
  nonGlConfig: >-
    -DMEGAMOL_VCPKG_DOWNLOAD_CACHE=ON
    -DMEGAMOL_WARNING_LEVEL="Off"
    -DMEGAMOL_USE_OPENGL=OFF

jobs:
- job: Windows
  variables:
    VCPKG_DEFAULT_BINARY_CACHE: '$(Agent.BuildDirectory)\vcpkg_cache\archives'
    X_VCPKG_REGISTRIES_CACHE: '$(Agent.BuildDirectory)\vcpkg_cache\registries'

  strategy:
    matrix:
      'VS2019 Release':
        configuration: Release
        generator: 'Visual Studio 16 2019'
        cmakeExtraArgs: '$(defaultConfig)'
      'VS2019 Debug':
        configuration: Debug
        generator: 'Visual Studio 16 2019'
        cmakeExtraArgs: '$(defaultConfig)'
      'VS2019 Release (nonGL)':
        configuration: Release
        generator: 'Visual Studio 16 2019'
        cmakeExtraArgs: '$(nonGlConfig)'

  timeoutInMinutes: 720

  pool:
    name: 'default'
    demands:
    - Agent.OS -equals Windows_NT
    - cmake
    - VisualStudio_16.0

  steps:
  - template: .ci/check-pr-labels-step-pwsh.yml
  - powershell: |
      New-Item -ItemType "directory" -Path "$Env:VCPKG_DEFAULT_BINARY_CACHE" -Force
      New-Item -ItemType "directory" -Path "$Env:X_VCPKG_REGISTRIES_CACHE" -Force
    displayName: 'Setup vcpkg cache directories'
  - task: CMake@1
    displayName: 'CMake Configure'
    inputs:
      cmakeArgs: '.. -G"$(generator)" -A"x64" $(cmakeExtraArgs)'
  - task: CMake@1
    displayName: 'CMake Build'
    inputs:
      cmakeArgs: '--build . --config $(configuration)'

- job: Linux
  variables:
    VCPKG_DEFAULT_BINARY_CACHE: '$(Agent.BuildDirectory)/vcpkg_cache/archives'
    X_VCPKG_REGISTRIES_CACHE: '$(Agent.BuildDirectory)/vcpkg_cache/registries'

  strategy:
    matrix:
      ## Temporarily disabled until more CI machines are available!
      #'GCC11 / Make / Release':
      #  dockerImage: megamol_ci_ubuntu
      #  cCompiler: gcc-11
      #  cxxCompiler: g++-11
      #  configuration: Release
      #  generator: 'Unix Makefiles'
      #  cmakeExtraArgs: '$(defaultConfig)'
      'GCC11 / Make / Debug':
        dockerImage: megamol_ci_ubuntu
        cCompiler: gcc-11
        cxxCompiler: g++-11
        configuration: Debug
        generator: 'Unix Makefiles'
        cmakeExtraArgs: '$(defaultConfig)'
      ## Temporarily disabled until more CI machines are available!
      #'GCC11 / Ninja / Release':
      #  dockerImage: megamol_ci_ubuntu
      #  cCompiler: gcc-11
      #  cxxCompiler: g++-11
      #  configuration: Release
      #  generator: 'Ninja'
      #  cmakeExtraArgs: '$(defaultConfig)'
      ## Temporarily changed to Ninja instead of Make until more CI machines are available!
      'Clang14 / Ninja / Release':
        dockerImage: megamol_ci_ubuntu
        cCompiler: clang-14
        cxxCompiler: clang++-14
        configuration: Release
        generator: 'Ninja'
        cmakeExtraArgs: '$(defaultConfig)'
      'GCC11 / Ninja / Release (nonGL)':
        dockerImage: megamol_ci_ubuntu
        cCompiler: gcc-11
        cxxCompiler: g++-11
        configuration: Release
        generator: 'Ninja'
        cmakeExtraArgs: '$(nonGlConfig)'

  timeoutInMinutes: 720

  pool:
    name: 'default'
    demands:
    - Agent.OS -equals Linux
    - docker

  container: ghcr.io/unistuttgart-visus/$(dockerImage):master

  steps:
  - template: .ci/check-pr-labels-step-bash.yml
  - bash: |
      mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
      mkdir -p $X_VCPKG_REGISTRIES_CACHE
    displayName: 'Setup vcpkg cache directories'
  - bash: echo "##vso[task.setvariable variable=numberOfCpuCores]$(nproc)"
    displayName: 'Bash get number of CPU cores'
  - task: CMake@1
    displayName: 'CMake Configure'
    inputs:
      cmakeArgs: '.. -G"$(generator)" -DCMAKE_C_COMPILER=$(cCompiler) -DCMAKE_CXX_COMPILER=$(cxxCompiler) -DCMAKE_BUILD_TYPE=$(configuration) $(cmakeExtraArgs)'
  - task: CMake@1
    displayName: 'CMake Build'
    inputs:
      cmakeArgs: '--build . --parallel $(numberOfCpuCores)'
