//
// icons.rc
// (MegaMol Console)
// Copyright (C) 2006 - 2009 by VISUS (Universitaet Stuttgart)
// Copyright (C) 2009 by SGrottel (http://www.sgrottel.de)
// Alle Rechte vorbehalten.
//

#include "versioninfo.h"
#include "WinVer.h"

// icons
100 ICON "icons/MegaMol_App.ico"
101 ICON "icons/MegaMol_Con.ico"
102 ICON "icons/MegaMol_Ctrl.ico"
1001 ICON "icons/MegaMol_File.ico"
1002 ICON "icons/MegaMol_Proj.ico"
1003 ICON "icons/btf.ico"
2001 ICON "icons/MegaMol_FolderVista.ico"
2002 ICON "icons/MegaMol_FolderXP.ico"

// version info
1 VERSIONINFO
 FILEVERSION    MEGAMOL_CORE_VERSION
 PRODUCTVERSION MEGAMOL_PRODUCT_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0x0L
#endif
#ifdef MEGAMOL_CORE_ISDIRTY
              | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
#ifdef MEGAMOL_CORE_ISDIRTY
            VALUE "Comments",         MEGAMOL_CORE_COMMENTS
#endif
            VALUE "CompanyName",      MEGAMOL_PRODUCT_COMPANY
            VALUE "FileDescription",  "MegaMol Core Library"
            VALUE "FileVersion",      MEGAMOL_CORE_VERSION_STR
            VALUE "InternalName",     MEGAMOL_CORE_NAME
            VALUE "LegalCopyright",   MEGAMOL_CORE_COPYRIGHT
            VALUE "OriginalFilename", MEGAMOL_CORE_FILENAME
#ifdef MEGAMOL_GLUT_ISDIRTY
            VALUE "PrivateBuild",     MEGAMOL_DIRTYWARNING
#endif
            VALUE "ProductName",      MEGAMOL_PRODUCT_NAME
            VALUE "ProductVersion",   MEGAMOL_PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

