<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntTweakBar" version="1.16.3" targetFramework="native" />
  <package id="AntTweakBar.redist" version="1.16.3" targetFramework="native" />
  <package id="glfw" version="3.2" targetFramework="native" />
  <package id="glfw.redist" version="3.2" targetFramework="native" />
</packages>