//
// icons.rc
// (MegaMol WGL)
// Copyright (C) 2006 - 2011 by VISUS (Universitaet Stuttgart)
// Copyright (C) 2009 by SGrottel (http://www.sgrottel.de)
// Alle Rechte vorbehalten.
//

#include "versioninfo.h"
#include "WinVer.h"

// icons
100 ICON "../Icons/MegaMol_App.ico"

// version info
1 VERSIONINFO
 FILEVERSION    MEGAMOL_WGL_VERSION
 PRODUCTVERSION MEGAMOL_PRODUCT_VERSION
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0x0L
#endif
#ifdef MEGAMOL_WGL_ISDIRTY
              | VS_FF_PRERELEASE | VS_FF_PRIVATEBUILD
#endif
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments",         MEGAMOL_WGL_COMMENTS
            VALUE "CompanyName",      MEGAMOL_PRODUCT_COMPANY
            VALUE "FileDescription",  "MegaMol Viewer Library based on WGL"
            VALUE "FileVersion",      MEGAMOL_WGL_VERSION_STR
            VALUE "InternalName",     MEGAMOL_WGL_NAME
            VALUE "LegalCopyright",   MEGAMOL_WGL_COPYRIGHT
            VALUE "OriginalFilename", MEGAMOL_WGL_FILENAME
#ifdef MEGAMOL_WGL_ISDIRTY
            VALUE "PrivateBuild",     MEGAMOL_DIRTYWARNING
#endif
            VALUE "ProductName",      MEGAMOL_PRODUCT_NAME
            VALUE "ProductVersion",   MEGAMOL_PRODUCT_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

